:root {
	--primary: #AAC7FF;
	--on-primary: #002F65;
	--secondary: #BEC6DC;

	--primary-container: #00458E;
	--on-primary-container: #D6E3FF;
	--secondary-container: #3E4759;
	--on-secondary-container: #DAE2F9;
	--tertiary-container: #573E5C;
	--on-tertiary-container: #FAD8FD;

	--surface: #121316;
	--surface-container-lowest: #0D0E11;
	--surface-container-low: #1A1B1E;
	--surface-container: #1E1F23;
	--surface-container-high: #292A2D;
	--surface-container-highest: #343538;
	--on-surface: #E3E2E6;
	--on-surface-variant: #C4C6D0;
	
	--inverse-surface: #E3E2E6;
	--inverse-on-surface: #1A1B1E;

	--outline: #8E9099;
	--outline-variant: #44474E;

	--error: #ffb4ab;
	--on-error: #690005;

	--extended-gold: #FDE047;
}
