*,
*::before,
*::after {
	box-sizing: border-box;
	transition: color .3s, background-color .3s, fill .3s;
}

body {
	background: var(--surface);
	color: var(--on-surface);
	margin: 0;
	min-width: 360px;
}

h1, h2, h3, h4, h5, h6, input {
	all: unset;
}

a[class] {
	text-decoration: none;
}	

button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
}
