:root {
	scrollbar-width: thin;
	scrollbar-color: var(--surface-container-highest) var(--surface);
}
::-webkit-scrollbar {
	height: 6px;
	width: 6px;
}
::-webkit-scrollbar-track {
	background: var(--surface);
}
::-webkit-scrollbar-thumb {
	background: var(--surface-container-highest);
	border-radius: 4px;
}
